## Build Files
dist/

## Ansible
ansible/group_vars/justthetip.yml
*.retry

## Node Modules
node_modules
npm-debug.log

## OS Files
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

## Large File Types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
